html,
body {
    width: auto;
    font-family: 'Sulphur Point';
    background-image: url(bg.jpg)
}
h1 {

text-align: center;
font-family: 'Sulphur Point';
}
.link {
border:3px; 
border-style:solid; 
border-color:#FF0000;
border-radius: 3px;
    background: rgba(0,0,0,0.25);
}
.img {
width: 25px;
    border-radius:50%;
}
.tutorial {
font-size: 20px;
}        
.gimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border-radius: 50%;
}
.desc {
    text-align: center;
}
.obj {
    align-content: center;
}
#back {
border: 50%;
border-style:solid; 
border-color:rgb(0, 81, 255);
border-radius: 3px;
}
.zelda {
    width: 25px;
   border-radius:50%;
}
