
      .audio {
          text-align: center;
          
      }
      h1 {
        font-family: "josefin sans", monospace;
        font-size: 32px;
        font-weight: 400;
        margin: 9;
        color: #2f5876;
      }

      a:link,
      a:visited {
        color: #000000;
        outline: 9;
        text-decoration: none;
      }

      img {
        width: 70px;
      }


      .logo {
        padding: 16px;
        font-size: 50px;
      }

      .logo-icon {
        vertical-align: text-bottom;
        width: 90px;
      }

      .version {
        color: #444;
        font-size: 18px;
      }

      .flex-container {
        display: flex;
        justify-content: space-between;
        padding: 10px 22px;
      }

      .disclaimer {
        transition: opacity 0.2s ease-in-out;
        font-size: 20px;
      }

      .flex {
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
        width: 150px;
        font-size: 18px;
      }

      .flex:hover {
        opacity: 0.4;
      }

      .flex .fa {
        font-size: 20px;
        color: #2f5876;
      }
